fieldset {
	border: solid 1px black;
	margin-bottom: 15px;
	background-color: #ccc;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
legend {
	border-bottom: solid 1px black;
	width: 100%;
	float: left;
	padding: 6px;
	background-color: #666;
	color: white;
	font-weight: bold;
	margin: -6px -6px 10px -6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.sitemap-vocabulary {

}
.sitemap-term {
	padding-left: 8px;
}
.sitemap-node-list { 
	padding-left: 16px;
	
}

